body{ 
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    font-family: Tahoma, sans-serif;
    font-size: 40px;
}

div{
    width: 100px;
    height: 150px;
    background-color: #eeeff2;
    border-left: 10px dotted #D0D0FF;
    margin: 10px 10px 0 0;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

div:hover{
    background-color: yellow;
    color: goldenrod;
}

div1{
    width: 100px;
    height: 150px;
    background-color: #eeeff2;
    border-left: 10px dotted #D0D0FF;
    margin: 10px 10px 0 0;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;
}
div1:hover{
    background-color: yellow;
    color: goldenrod;  
}